<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Main Activity -->
        <activity android:name="com.example.improvementmonitor.MainActivity"
            android:exported="true"> <!-- Add this line -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.improvementmonitor.QuizActivity" />

        <activity android:name="com.example.improvementmonitor.DailyChallengeActivity" />

        <activity android:name="com.example.improvementmonitor.AddWordActivity" />
        <activity android:name="com.example.improvementmonitor.SettingsActivity" />
        <activity android:name="com.example.improvementmonitor.HelpActivity" />
        <activity android:name="com.example.improvementmonitor.AboutActivity" />
        <activity android:name="com.example.improvementmonitor.TaskManagementActivity" />


    </application>

</manifest>
